.login-container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login {
  background-color: #f4f4f4;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.logo {
  width: 100px;
}

.title {
  font-size: 24px;
  color: #333;
}

.input {
  width: 100%;
  height: 40px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.button {
  width: 100%;
  height: 40px;
  padding: 10px;
  background-color: #0071c2;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.button:disabled {
  background-color: rgba(0, 113, 194, 0.549);
  cursor: not-allowed;
}

.error {
  color: red;
}

.signup-button {
  width: 100%;
}

.signup-link {
  text-decoration: none;
  color: white;
  display: block;
  background-color: orange;
  border: none;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
}

.signup-link:hover {
  background-color: darkorange;
}

/* Ajoutez une règle CSS pour les petits écrans */
@media (max-width: 600px) {
  .login {

    padding-top: 140px; /* Réduire l'espace intérieur du formulaire */
  }

  .input {
    height: 30px; /* Réduire la hauteur des champs de saisie */
    font-size: 13px; /* Réduire la taille de la police des champs de saisie */
  }

  .button {
    height: 25px; /* Réduire la hauteur du bouton */
    font-size: 13px; /* Réduire la taille de la police du bouton */
  }

  .signup-link {
    padding: 8px; /* Réduire l'espace intérieur du lien de connexion */
    font-size: 14px; /* Réduire la taille de la police du lien de connexion */
  }
}



