.fpx {
  width: 100%;
  max-width: 1500px;
  display: flex;
  flex-wrap: wrap; /* Permettre aux éléments de passer à la ligne sur des écrans plus petits */
  justify-content: space-around; /* Ajuster l'espacement entre les éléments */
  gap: 20px;
  margin-bottom: 20px;
  
  
}

.fpItemx {
  flex: 1;
  width: 100%; /* Occuper 100% de la largeur sur des écrans plus petits */
  gap: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: center;
}

.fpImgx {
	width: 100%; /* Assure que l'image remplit la largeur de son conteneur */
	height: 200px; /* Ajuster la hauteur de l'image selon vos besoins */
	object-fit: cover;
	border-radius: 5%;
}

.fpName {
  color: #333;
  font-weight: bold;
  margin-left: 25PX;
}

.fpCity {
  font-weight: 300;
  margin-left: 25PX;
}

.fpPrice {
  font-weight: 500;
  margin-left: 25PX;
  margin-bottom: 20PX;
}

.fpRating>button {
  background-color: #003580;
  color: white;
  border: none;
  padding: 3px;
  margin-right: 10px;
  font-weight: bold;
}

.fpRating>span {
  font-size: 14px;
}

/* Media Query pour tablette */
@media screen and (max-width: 768px) {
  .fpImgx {
    max-height: 300px; /* Ajuster la hauteur maximale pour les tablettes */
  }
}

/* Media Query pour mobile */
@media screen and (max-width: 480px) {
  .fpImgx {
    max-height: 300px; /* Ajuster la hauteur maximale pour les mobiles */
  }
  

}
