.header {
  background-color: #133fb7;
  color: white;
  display: flex;
  justify-content: center;
  position: relative;
  height: 300px;

}

.headerSearch {
  display: flex;
  align-items: center;
  background-color: white;
  border-radius: 25px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 10px;
  margin-top: 20px;
  gap: 15px;
  flex-wrap: wrap;
}

.headerSearchItem {
  display: flex;
  align-items: center;
  gap: 10px;
  flex: 1;
  min-width: 200px;
  margin-right: 30px;
}



.headerSearchInput,
.headerSearchText {
  border: none;
  outline: none;
  padding: 10px;
  border-radius: 5px;
  width: 100%;
  font-size: 16px;
  background-color: #ffff;
}

.headerSearchInput:focus,
.headerSearchText:focus {
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.headerBtn {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  
}

.headerBtn:disabled {
  background-color:  #007bff;;
  cursor: not-allowed;
}

.headerBtn:hover:not(:disabled) {
  background-color: #0056b3;
}

.date {
  position: absolute;
  top: 60px;
  z-index: 2;
}

/* Media Queries for Responsiveness */
@media (max-width: 1024px) {
  .headerSearch {
    flex-wrap: wrap;
    justify-content: center;
  }

  .headerSearchItem {
    min-width: 150px;
  }

  .headerBtn {
    padding: 10px;
    font-size: 16px;
  }
}

@media (max-width: 768px) {
  .headerSearch {
    flex-direction: column; /* Stack items vertically */
    align-items: center;

  }

  .headerSearchItem {
    min-width: 100%; /* Ensure items take full width */
    justify-content: center;
  }

  .headerBtn {
    width: 100%; /* Make button full width */
    padding: 12px;
  }
}

@media (max-width: 480px) {
  .headerSearch {
    padding: 5px;
    flex-direction: column; /* Stack items vertically */
    align-items: stretch; /* Stretch items to fill container */
  }

  .headerSearchItem {
    min-width: 100%; /* Ensure items take full width */
    justify-content:center;
  }

  .headerSearchInput,
  .headerSearchText {
    padding: 20px; /* Adjust padding for smaller screens */
    font-size: 16px; /* Adjust font size for smaller screens */
  }

  .headerBtn {
    padding: 10px; /* Adjust padding for smaller screens */
    font-size: 14px; /* Adjust font size for smaller screens */
    width: 100%; /* Ensure button takes full width */
    
  }
}






.headerContainer {
  width: 100%;
  max-width: 1024px;
  margin: 20px 10px 100px 10px; /* Ajuster la marge pour les écrans plus petits */
  height: 250px;
 
}

.headerContainer.listMode {
  margin: 20px 10px 0px 10px; /* Ajuster la marge pour les écrans plus petits */
}

.headerList {
  display: flex;
  flex-wrap: wrap; /* Permettre aux éléments de passer à la ligne sur des écrans plus petits */
  gap: 20px; /* Réduire l'écart entre les éléments */
  margin-bottom: 50px;
  height: 250px;
}

.headerListItem {
  display: flex;
  align-items: center;
  gap: 10px;
}

.headerListItem.active {
  border: 1px solid white;
  padding: 10px;
  border-radius: 20px;
}

.headerDesc {
  margin: 20px 0px;
}





.headerIcon {
  color: lightgray;
  margin-left: 50px;
}

.headerSearchItem {
  position: relative;
  display: flex;
  align-items: center;
  gap: 30px;

}


.date {
  position: absolute;
  top: 50px;

  z-index: 999;
}

.options {
  z-index: 2;
  position: absolute;
  top: 50px;
  background-color: white;
  color: gray;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0.4);
}

.optionItem {
  width: 100%; /* Utiliser la largeur totale de l'écran */
  max-width: 200px; /* Limiter la largeur maximale */
  display: flex;
  justify-content: space-between;
  margin: 10px;
}

.optionCounter {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 12px;
  color: black;
}

.optionCounterButton {
  width: 30px;
  height: 30px;
  border: 1px solid #0071c2;
  color: #0071c2;
  cursor: pointer;
  background-color: white;
}

.optionCounterButton:disabled {
  cursor: not-allowed;
}

.selct {
  width: 60px;
  margin-right: 5px;
}

.date-range-picker {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Arial, sans-serif;
  margin-left: 100px;
  font-size: 50px;
  
}

input[type="date"] {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 5px;
}

span {
  margin: 0 10px;
  font-size: small;
}




/* Styles de base */
/* Styles de base */
.icon-sliderb {
 justify-content: center;
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
  gap: 60px;
  padding: 10px;
  align-items: center;

}

.icon-containerb {
  flex: 0 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out; /* Animations de transition */
  text-align: center;
  transition: transform 0.3s, box-shadow 0.3s;

  
}

.icon {
  color: #001f4d; /* Couleur de l'icône */
  font-size: 24px; /* Taille de l'icône */
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out; /* Animations de transition */
}

.icon-name {
  display: block;
  margin-top: 5px;
  font-size: 0.8em;
}

/* Effet au survol (hover) */
.icon-containerb:hover {
  transform: scale(1.2); /* Zoom au survol */
}

.icon:hover {
  transform: rotate(20deg); /* Rotation de l'icône au survol */
  opacity: 0.7; /* Réduire l'opacité au survol */
}



button {
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-size: 14px;

}

/* Style pour le bouton de déconnexion (logout) */
.logoutBtn {
  background-color: #8b2821; /* Rouge */
  color: white;
}

.logoutBtn:hover {
  background-color: #ee1919; /* Rouge plus sombre au survol */
}

/* Style pour le bouton de connexion/inscription */
.signInBtn {
  background-color: #4caf50; /* Vert */
  color: white;
}

.signInBtn:hover {
  background-color: #388e3c; /* Vert plus sombre au survol */
}



.shop {
  padding-bottom: 5px;
  margin-bottom: -20px;
  margin-left: 90%;
  top: 50%; /* À mi-chemin verticalement */
  right:20px; /* Distance du côté droit */
  transform: translateY(-50%); /* Ajuste la position verticale */
  font-size: 24px; /* Taille de l'icône */
  /* Ajoutez ici d'autres styles nécessaires */
  
}



/* Style pour le paragraphe du nom du profil */


/* Changement au survol */
.profile {
  
  font-size: large;
  font-weight: bold; /* Passage en gras au survol */
  margin-left: 10%;
}



/* Media Queries pour la responsivité */
@media (max-width: 768px) {
  .icon-containerb {
    width: 40px; /* Ajustement de la largeur pour les tablettes */
    height: 40px; /* Ajustement de la hauteur pour les tablettes */
  }
  
  
  
}

@media screen and (max-width: 480px) {
  .icon-containerb {
    width: 40px; /* Ajustement de la largeur pour les appareils mobiles */
    height: 40px; /* Ajustement de la hauteur pour les appareils mobiles */
  }
 


  .selct {
    width: 60px;
  }


  .headerContainerb {
    margin: 20px 5px 30px 5px; /* Ajustements de marge pour les mobiles */
    
  }

  .headerList {
    flex-direction: column; /* Afficher les éléments en colonne sur les mobiles */
    gap: 10px; /* Ajustements d'écart pour les mobiles */
  }

  .headerListItem.active {
    padding: 8px; /* Ajustement de la taille du padding pour les mobiles */
  }



  

  .optionItem {
    max-width: 120px; /* Ajustements de largeur maximale pour les mobiles */
  }

  span {
    font-size: x-small;
  }


    
    .rdrMonthAndYearWrapper {
      font-size: 5px; /* Réduire la taille de la police pour les mois et les années */
    }

    .rdrDayNumber {
      font-size: 5px; /* Réduire la taille de la police pour les numéros de jour */
    }

    /* Ajoutez d'autres styles spécifiques au besoin */
    .DateRange{
     padding-right: 20%;
    }
    .trt{
      font-size: 10px;
    }

}


.notification {
  position: fixed;
  top: 10px;
  right: 10px;
  background-color: #ffcc00;
  color: #333;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}


.cc1 {
  width: 38px;
  height: 38px;
  margin-right: 10px; /* Marge de 10px entre l'image et le composant suivant */
  margin-left: 80%; /* Marge de 10px à droite de la page */
  cursor: pointer;
}

.cc {
  background: red;
  padding: 3px 5px;
  border-radius: 8px;
  width: 30px;
  height: 30px;
  margin-left: 82%;
  cursor: pointer;

}

.trt{
  color: white;
}